@import "../../index.scss";

.hero_section_wrapper {
  position: absolute;
  display: flex;
  column-gap: 0rem;
  left: 0;
  top: 0;
  bottom: 10;
  right: 10;
  min-width: 600px;
  max-width: 600px;
  margin: 120px 0 0 70px;

  .border_image {
    margin-top: -10px;
    height: 220px;
    width: 70px;
    animation: translateBorder 0.35s linear 0s 1 forwards;
    transform: translateY(1000px);
  }
  .textContainer {
    color: white;
    margin: 0 0 0 -30px;
  }
}

.textContainer p,
.textContainer h3 {
  transform: translateY(1000px);
}

.mainText {
  margin: 30px 0 20px 0 !important;
  font-size: 74px;
  line-height: 5rem;
  font-weight: bolder;
  animation: translateText 0.35s linear 0.2s 1 forwards;
  font-family: $gibson-semi-bold;
}

.thanksNote {
  font-size: 16px;
  animation: translateText 0.35s linear 0.3s 1 forwards;
  font-family: $gibson-light;
  letter-spacing: 0.05rem;
  max-width: 600px;
  margin: 5px 0;
  line-height: 1.5rem;
}

.upperHr,
.lowerHr {
  width: 40px;
  height: 1px;
  background-color: $primary-color;
}

.upperHr {
  animation: translateText 0.35s linear 0.4s 1 forwards;
}

.lowerHr {
  animation: translateText 0.35s linear 0.6s 1 forwards;
}

.lowerSecondaryText,
.upperSecondaryText {
  font-weight: bolder;
  margin: 10px 0;
  font-size: 16px;
  font-family: $gibson-semi-bold;
  max-width: 420px;
  line-height: 1.5rem;
}

.upperSecondaryText {
  animation: translateText 0.35s linear 0.5s 1 forwards;
}

.lowerSecondaryText {
  animation: translateText 0.35s linear 0.7s 1 forwards;
}

@keyframes translateText {
  50% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes translateBorder {
  50% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}
