@import "../../index.scss";

.landing-screen-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .card-container {
    width: 764px;
    height: 320px;
    color: white;
    display: flex;
    position: relative;
  }

  .bull-image {
    margin-top: 0px;
    width: 400px !important;
    height: auto !important;
    transform: translateY(-50px);
    opacity: 0;
    animation: translateImage 1s linear 0.3s 1 forwards;
  }
}

.fade-out-screen {
  animation: fadeOut 0.3s linear 0s 1 forwards;
}

.challenge-top-border,
.challenge-bottom-border {
  height: 160px !important;
  width: 80px !important;
}

.challenge-top-border {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-500px);
  opacity: 0;
  animation: translateTopBorder 0.3s linear 0.4s 1 forwards;
}

.challenge-bottom-border {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(500px);
  opacity: 0;
  animation: translateBottomBorder 0.3s linear 0s 1 forwards;
}

.card-body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  text-align: center;

  h2 {
    font-size: 75px;
    margin: 10px 0;
    font-family: $gibson-semi-bold;
    transform: translateY(300px);
    animation: translateMainText 0.2s linear 0s 1 forwards;
  }

  p {
    max-width: 550px;
    font-size: 20px;
    margin: 10px auto;
    font-family: $gibson-light;
    transform: translateY(100px);
    opacity: 0;
    animation: translateSecondaryText 0.25s linear 0.4s 1 forwards;
  }

  button {
    margin: 30px auto;
    padding: 0.8rem 2rem;
    font-family: $gibson-semi-bold;
    text-transform: uppercase;
    background-color: white;
    color: black;
    border-radius: 4px;
    letter-spacing: 0.02rem;
    outline: none;
    border: none;
    transform: translateY(50px);
    opacity: 0;
    animation: translateButton 0.3s linear 0.25s 1 forwards;
    font-size: 14px;
  }
}

@keyframes translateMainText {
  50% {
    opacity: 0.5;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes translateSecondaryText {
  50% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes translateButton {
  50% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes translateImage {
  50% {
    opacity: 0.5;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translateTopBorder {
  25% {
    opacity: 0.2;
    transform: translateX(-350px);
  }
  50% {
    opacity: 0.4;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes translateBottomBorder {
  25% {
    opacity: 0.2;
    transform: translateX(350px);
  }
  50% {
    opacity: 0.4;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
