@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$primary-color: #60ebd6;
$secondary-color: #d64527;
$primary-font: "Roboto", sans-serif;

body {
  margin: 0;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

@font-face {
  font-family: "GibsonNormal";
  src: local("GibsonNormal"),
    url("./fonts/gibson-font/Gibson-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GibsonBold";
  src: local("GibsonBold"),
    url("./fonts/gibson-font/gibson-bold.ttf") format("truetype");
}
