@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$primary-color: #60ebd6;
$secondary-color: #d64527;
$gibson-light: "GibsonLight";
$gibson-bold: "GibsonBold";
$gibson-semi-bold: "GibsonSemiBold";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  // background-color: black;
}

@font-face {
  font-family: "GibsonBold";
  src: local("GibsonBold"), url("./fonts/Gibson-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GibsonLight";
  src: local("GibsonLight"), url("./fonts/Gibson-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GibsonSemiBold";
  src: local("GibsonSemiBold"),
    url("./fonts/Gibson-SemiBold.ttf") format("truetype");
}
