.fade-out-screen {
  opacity: 1;
  animation: fadeOut 0.5s linear 0s 1 forwards;
}

.fade-in-use-cases {
  opacity: 0;
  animation: fadeIn 0.6s linear 0.3s 1 forwards;
}

.use-cases-video {
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.use-cases-wrapper {
  margin-left: 0px;
  width: 98%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
  max-width: 100%;
  overflow: hidden;
}

@keyframes fadeOut {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
